ul{padding: 0px;}
.container{
    padding: 0 !important;
}
.panel-container{
    padding: 31px 0 0;
}
.tasks_left{
    width: 40%;
    height: 500px;
    overflow: scroll;
    background-color: whitesmoke;
    float: left;
}
.tasks_right{
    width: 60%;
    height: 500px;
    overflow: scroll;
    background-color: whitesmoke;
    float: right;
}
#yii-debug-toolbar{
    display: none;
}

html,
body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.panel-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    /* avoid browser level touch actions */
    xtouch-action: none;
    margin-top: 20px;
}

.panel-abottom {
    width: 100%;
    flex: 1 1 auto;
}
.panel-abottom .panel-right,
.panel-abottom .panel-left {
    width: 50%;
}

.panel-atop,
.panel-abottom {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    /*   padding: 10px; */
    width: 50vw;
    min-height: 10vh;
    min-width: 150px;
    white-space: nowrap;
    background: #838383;
    color: white;
}
.panel-left .panel-bottom, .panel-left .panel-top, .panel-left .panel-middle {
    height: 45vh;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    /*   padding: 10px; */
    width: 100%;
    min-height: 10vh;
    min-width: 200px;
    background: #838383;
}
.panel-right .panel-bottom, .panel-right .panel-top, .panel-right .panel-middle {
    height: 25vh;
}

/* vertical panel */
.panel-container-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    overflow: hidden;
}

.panel-top, .panel-middle {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    height: calc(90vh / 3);
    width: 100%;            /*  Scroll hidden  */
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    background: #838383;
    color: white;
    position: relative;
}

.splitter-horizontal {
    position: relative;
    flex: 0 0 auto;
    height: 18px;
    width: 100%;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
    cursor: row-resize;
}
.splitter-horizontal a {
    position: absolute;
    background: transparent;
    border: none;
    right: 10px;
    top: 0;
}
.splitter-horizontal svg {
    width: 10px;
    height: 10px;
    fill: white;
    transform-origin: initial;
    transition: .3s ease-in-out;
}

.split.minimized svg {
    transform: rotateZ(180deg);
    opacity: .6;
}

.panel-bottom {
    flex: 1 1 auto;
    /* resizable */
    /*padding: 10px;*/
    min-height: 200px;
    background: #838383;
    overflow: scroll;
}

.posa {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.panel-atop {
    width: 100%;
    height: 85vh;
    flex: 0 0 auto;
}

.panel__table {
    display: table;
    width: 100%;
    padding: 10px;
}
.panel__table .tr {
    display: table-row;
}

.panel__table .td {
    display: table-cell;
    padding: 0 5px;
    white-space: normal;
    border: 1px solid #fff;
}

th{
    padding: 2px;
    border: 1px solid #fff;
}
th:hover{
    cursor: pointer}

#myTasksPanel .selected,
#activeTasksPanel .selected{
    background-color: rgb(35, 20, 25) !important;
}

#myTasksPanel .red,
#activeTasksPanel .red{
    background-color: #b73458;
}

#myTasksPanel .green,
#activeTasksPanel .green{
    background-color: #3CAA3C;
}

#myTasksPanel .filterEmail:hover,
#activeTasksPanel .filterEmail:hover,
#activeTasksPanel .filterStatus:hover{
    cursor: pointer;
}
.panel__btn {
    border: 3px solid #343436;
    background: #343436;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    border: 0;
    outline: 0;
    padding: 2px 6px;
    margin-bottom: 0;
    margin-right: 5px;
    position: relative;
    border-radius: 3px;
    border: 3px solid transparent;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-weight: normal;
}

.panel__btn:hover {
    background: rgba(52, 52, 54, 0.7);
}

.panel-right-middle ul li{
    list-style: none;
    margin-bottom: 10px;
}

.panel-right-middle ul li a{
    color: white;
    border: solid thin white;
    padding: 3px 13px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.panel-right-middle ul li a:hover{
    text-decoration: none;
    background-color: #9d9d9d;
}

.modal-content{
    color: black;
}

#formClarify .btn-success,
.dateFilter .btn-success{
    float: right;
}

.filters{
    padding: 2px;
}

.filters .filterName{
    position: relative;
    padding: 1px 7px 1px 8px;
    border-radius: 5px 30px 30px 5px;
    background-color: #343436;
    margin-left: 7px;
    font-size: 8pt;
}

.filters .filterName a{
    margin-left: 12px;
    color: white;
    text-decoration: none;
}

.buttonsPanel{
    padding: 5px;
}

#myTasksPanel .tabs .myTasks,
#myTasksPanel .tabs .TasksAppointedByMe{
    background: rgb(52, 52, 54) none repeat scroll 0% 0%;
    padding: 2px 10px;
    border-radius: 4px 4px 0px 0px;
    margin-right: 2px;
}

#myTasksPanel .tabs .TasksAppointedByMe {
    background: rgb(97, 97, 97) none repeat scroll 0% 0%;
}

#myTasksPanel .myTasks{
    margin-top: 5px;
}

#myTasksPanel #formClarify textarea{
    width: 100%;
    height: 70%;
}

#formCloseTask input[name=text]{
    display: none;
}

.workPanel{
    overflow-y: scroll;
}

.workPanel.ottom{
    height: 100%;
}

.notification:hover{
    cursor: pointer;
}

.panel-container{
    background-color: #838383;
}