.chat-index{
    position: absolute;
    top: 30px;
    bottom: 133px;
    right: 20px;
    left: 30px;
}

.chat-index .chat{
    position: relative;
    width: 100%;
    height: 85%;
    border: solid thin black;
}

.chat-index .chat .users{
    position: relative;
    height: 100%;
    width: 20%;
    border: solid thin red;
    overflow-y: scroll;
}

.chat-index .chat .messages{
    position: absolute;
    top: 0;
    bottom: 20%;
    right: 0;
    left: 20%;
    border: solid thin blue;
    overflow-y: scroll;
}

.chat-index .chat .inputMessage{
    position: absolute;
    top: 80%;
    bottom: 0;
    right: 0;
    left: 20%;
    border: solid thin yellow;
}

.chat-index .chat .inputMessage form,
.chat-index .chat .inputMessage textarea{
    display: block;
    width: 100%;
    height: 100%;
}

.chat-index .chat .inputMessage textarea{
    resize: none;
}

.msgTo{
    padding-left: 180px;
}

form#sendingMsg span.glyphicon-paperclip{
    position: absolute;
    top: 37%;
    right: 1%;
}

form#sendingMsg span.glyphicon-paperclip:hover{
    cursor: pointer;
}

form#sendFiles{
    display: none;
}

.users ul li{
    list-style: none;
}

.users .online{
    background-color: greenyellow;
}

.messages .msgTo .email_from{
    display: none
}

.users ul li:not(.online){
    /*display: none;*/
}